/*Каскадность стилей*/
/*
*{
    color: yellow;
    text-decoration: overline;
}

li {
    margin: 20px;
}

a {
    color: red;
    text-decoration: none;
}

.linkClass {
    color: green;
}

#linkId {
    color: blueviolet;
}

#linkId2 {
    color: black;
}
*/
/*Псевдокласс*/

/*seltctor:pseudoclass{
    property: value;
}*/
/* 
:root{
    --first-font-size: 14px;
    --second-font-size: 20px;
    --hover-font-color: red;
    --color-font: white;
    --primary-color: black;
    --second-color:blue;
}

a:link {
    color:blue; 
}
a:visited {
    color:pink; 
}
a:hover {
    color:red; 
}
a:active  {
    color:yellow; 
}

div{
    background-color: var(--primary-color);
    color: var(--color-font);
    margin: 15px;
}

div:hover{
    background-color: var(--second-color);
    color: var(--hover-font-color);
}

div.class1:hover{
    background-color: tomato;
    color: white;
}

div.divClass:hover p{
    display: block;
}

div.divClass p{
    display: none;
    background-color: yellow;
    color: black;
    padding: 10px;
} */

/*Псевдоклассы дочерних элементов
:first-child: представляет элемент, который является первым дочерним элементом

:last-child: представляет элемент, который является последним дочерним элементом

:nth-child(n): представляет дочерний элемент, который имеет определенный номер n, например, второй дочерний элемент

:nth-of-type(n): выбирает дочерний элемент определенного типа, который имеет определенный номер

*/

/* a{
    display: block;
}

a:first-child{     
    background-color: blue;
    color: red;
}

a:last-child{
    background-color: red;
    color: blue;
}

a:nth-child(2){
    color: aqua;
    font-weight: bold;
} */
/* 
table, th, td{
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
}

caption{
    font-size: 16 px;
    font-weight: bold;
}

tbody:first-child { 
    background-color: darkslategray;
    color: white;
}

.planName{
    background-color: darkslategray !important;
    color: white ;
}

tr:nth-child(odd) td:nth-child(odd){
    background-color:darkturquoise;
}

tr:nth-child(odd) td:nth-child(even){
    background-color: paleturquoise;
}


tr:nth-child(even) td:nth-child(odd){
    background-color: paleturquoise;
}

tr:nth-child(even) td:nth-child(even){
    background-color: azure;
}


tfoot > tr{
    background-color: grey !important;
} */

/*Псевдоэлементы*/

p{
    font-size: 16px;
    font-weight: normal;
}

p.classP::first-letter{
    color: blue;
    font-size: 25px;
    font-weight: bold;
}

p.classP::first-line{
    text-decoration: underline;
}

p.classP::selection{
    background-color: chartreuse;
    color: white;
}

p.classP::before{
    content: url(https://fony-kartinki.ru/_ph/133/2/751828347.gif);
}

p.classP::after{
    content: url(https://fony-kartinki.ru/_ph/133/2/751828347.gif);
}